/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0 auto;
  padding: 50px;
}

.listItem--wrapper {
  margin: 5vh auto;
  height: 100vh;
}


.item--div-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.item--li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.item--img {
  width: 150px;
  height: 150px;
  margin: 5vh;
}

h1 {
  margin: 50px;
  width: 100%;
}

h2 {
  width: 100%;
}