/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0 auto;

}

.app--div--wrapper {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 60% 50%;
  width: 100vw;
  height: 100vh;
}