.item--li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.item--img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.item--div-wrapper {
    margin-left: 2vw;
    padding: 20px;
}

.item--div--h1,
.item--div--h2 {
    margin: 10px;
}

.item--div--h1 {
    color: royalblue;
}